@font-face {
	font-family: 'ng';
	src: url('../fonts/NanumGothic.eot');
	src: url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NanumGothic.woff') format('woff'),
		 url('../fonts/NanumGothic.ttf') format('truetype'),
		 url('../fonts/NanumGothic.svg#NanumGothic') format('svg');
	src: local(※), url('../fonts/NanumGothic.woff') format('woff');
	}
	
	
body,
table,
input,
textarea,
select,
button { font-family: '나눔고딕', NanumGothic, ngwoff, ngeot, 'ng', sans-serif }
.color-strip {
    background: #ccc url(../img/color-strip.png) no-repeat 20% top;
    height: 4px;
}
.navbar-brand {
    font-family: 'Averia Sans Libre', serif;
    font-size: 18px;
}
.nav>li>a { padding: 15px 12px }
.navbar-inverse .nav>li>a {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Averia Sans Libre', 'Miller Headline Bold', 'Times New Roman', Times, Georgia, serif;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #83E01F;
}
body { position: relative }
.panel-group {margin:0;}
.panel-group .panel {border-radius: 0}

.panel-default>.panel-heading {
color: #000;
background-color: #fff;
}

/* ***************************************************************** */

.loading-bar body:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -moz-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -ms-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -o-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.loading-bar .bar {
    width: 10em;
    height: 1em;
    position: relative;
    margin: 20px auto 40px;
    border-radius: .5em;
    background: rgba(255,255,255,0.6);
    box-shadow: 
        0 0 0 .05em rgba(100,100,100,0.075),
        0 0 0 .25em rgba(0,0,0,0.1),
        inset 0 .1em .05em rgba(0,0,0,0.1),
        0 .05em rgba(255,255,255,0.7);
}

.loading-bar .bar:after {
    content: "Please wait.";
    position: absolute;
    left: 25%;
    top: 150%;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1em;
    color: #555;
    text-shadow: 0 .05em rgba(255,255,255,0.7);
}

.loading-bar .bar .sphere {
    border-radius: 50%;
    width: 1em;
    height: 100%;
    background: -webkit-linear-gradient(#eee, #ddd);
    background: -moz-linear-gradient(#eee, #ddd);
    background: -ms-linear-gradient(#eee, #ddd);
    background: -o-linear-gradient(#eee, #ddd);
    background: linear-gradient(#eee, #ddd);
    box-shadow:
        inset 0 .15em .1em rgba(255,255,255,0.3),
        inset 0 -.1em .15em rgba(0,0,0,0.15),
        0 0 .25em rgba(0,0,0,0.3);
    display: block;
    -webkit-animation: slide 1.75s ease-in-out infinite alternate;
    -moz-animation: slide 1.75s ease-in-out infinite alternate;
    -ms-animation: slide 1.75s ease-in-out infinite alternate;
    -o-animation: slide 1.75s ease-in-out infinite alternate;
    animation: slide 1.75s ease-in-out infinite alternate;
}

@-webkit-keyframes slide {
    to { margin-left: 90%; }
}

@-moz-keyframes slide {
    to { margin-left: 90%; }
}

@-ms-keyframes slide {
    to { margin-left: 90%; }
}

@-o-keyframes slide {
    to { margin-left: 90%; }
}

@keyframes slide {
    to { margin-left: 90%; }
}

/* ***************************************************************** */




.item {
    width: 330px;
    text-align: left;
    margin-bottom: 10px;
    background-color: #fff;
}
.titem {
    width: 330px;
    text-align: justify;
    margin-bottom: 10px;
}
.one {
    background: #EEE9E9;
    margin: 0 auto;
    padding: 10px 0;
}
.two {
    background: #FFE7BA;
    margin: 0 auto;
    padding: 10px 0;
}
.item_title {
    vertical-align: middle;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    letter-spacing: normal;
    font-size: 18px;
    font-family: 'Miller Headline Bold', 'Times New Roman', Times, Georgia, serif;
    padding: 10px 28px 8px;
}
.item_title a { color: #444 }
.item_img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    background-color: #fff;
    padding-top: 5px;
    margin: auto;
}
.item_title-separator {
    width: 10%;
    margin-top: 3px;
    margin-left: 28px;
    margin-bottom: 1.33333rem;
    border: 0;
    border-top: 3px solid #1f2021;
    text-align: left;
    float: left;
    display: block;
}
.item_content {
    background-color: #fff;
    line-height: 28px;
    float: left;
    width: 100%;
    padding: 18px 28px;
    word-wrap: break-word;
}
.item_link {
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 8px 28px;
}
.section-title {
    text-align: center;
    margin-left: -10px;
}
.one .section-title { color: #000 }
.two .section-title { color: #000 }
#top-section { margin: 40px 0 0 }
.bkg1 { background-color: #000}
.bkg2 { background-color: #F8F8FF }
.bkg3 { background-color: #FFEC8B }
.bkg4 { background-color: #3a71c9 }
.bkg5 { background-color: #3d99fe }
.bkg6 { background-color: #39b449 }
.icon-disabled { color: #d9d3cc }
.day-section {
    text-align: center;
    color: #000;
}
.day-section > h3 {
    line-height: 70px;
    font-weight: 700;
}
.econ-section {
    color: #000;
    text-align: center;
    padding: 10px 0;
}
.currency-section {
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.panel-article-info {
    display: table-cell;
    vertical-align: middle;
    line-height: 28px;
    padding: 8px 28px;
}

.panel-sArt {
border-left: none;
border-right: none;
}

/*
.panel-group-sArt { margin: -1px }
*/

.panel-body-sArt { padding: 0 }
.panel-title { text-align: center }
.panel-title .glyphicon { font-size: 20px }
#footer {
    height: 60px;
    color: #fff;
    background-color: #333;
    font-weight: 700;
    overflow: hidden;
    font-family: 'Averia Sans Libre', serif;
    margin: 0;
    padding: 20px 0 10px;
}
.carousel-inner {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
}
.country-menu { min-width: 85px }

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(196, 252, 135, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
    padding-top:50%;
}

.caption a {
	font-size: 20px;
    font-style:italic;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-family: Comic Sans, Comic Sans MS, cursive;
}
    
.article-btn {
	font-weight: bold;
}

.article-sum-mark {
	padding-top: 3px;
}